body {
  background-color: #6c969D;
  margin: 0;
  position: relative;
}

header {
  height: 313px;
  background: #561f37;
  border-radius: 0px 0px 20px 20px;
  padding-right: 50px;
  padding-left: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

ul {
  width: 50%;
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 37px;
  color: #eeeeee;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  cursor: pointer;
}

li:hover {
  color: #74d5db;
}

.fa-user-circle {
  font-size: 89px;
  color: white;
}

.quote-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.logo {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 75px;
  color: #eeeeee;
  margin: 0;
}

p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 22px;
  text-align: center;
  color: #eeeeee;
}

button {
  width: 143px;
  height: 44px;
  background: #eeeeee;
  border-radius: 6px;
  font-size: 19px;
  font-size: 'Quicksand';
  margin-top: 30px;
  cursor: pointer;
}

button:hover {
  background: #74d5db;
  border: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
  position: absolute;
  top: 250px;
}

.calendar {
  background-color: white;
  height: 90%;
  width: 90%;
  margin: 1.5em;
  border-radius: 5%;
}

.calendar-table {
  font-family: Roboto;
  color: #74D5DB;
  text-shadow: 0px 0px 2px rgba(69, 56, 35, 0.21);
  height: 100%;
  width: 100%;
  margin-left: 1em;
}

.selected {
  color: #561F37;
}

article {
  height: 50%;
}
